

/*
Step Up!
Final Project - GA FEWD6 2015
Amber Zipperer 
*/


/******************************************
 HELPER CODE 
*******************************************/


/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
} 

.clear {
	clear: both;
}

.alignright {
	float: right;
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left;
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/*******************************************
 STYLES INDEX & PERSISTANT 
*******************************************/

body {
  font-size: 14px;
  line-height: 1.4;
  font-family: Helvetica, Arial, sans-serif;
  background: url(../images/X.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* ? Will 100% work for centering the container & bkgd img cover */
.container {
	width: 100%;
	margin: 0 auto;

} 

#left-content {
  background-color: blue;
  display: inline-block;
  width: 50%;

}

#right-content {
  background-color: red;
  display: inline-block;
  margin: 120px 0 0 0;
  padding: 0 0 0 50px;
  float: right;
  width: 50%;
}



/* ? Right way to use h1 for SEO? Will h1 display if img breaks? */
h1#page-name {
  display: none; 
  font-weight: bold;
  font-size: 48px;
}

#hero-image {
  float: right;
  margin: 20px 0 20px 0px;  
}

#userName {

}

p.login {
  margin: 5px 0 10px 0;
}

footer {
    margin: 20px 30px;
}

/*******************************************
 STEP UP GAME STYLES
*******************************************/

#admin-bar {
  background-color: red;
  width: 100%; 
}

#page-content {
  background-color: blue; 
  display: inline-block;
  width: 75%; 
  margin: 40px 20px 40px 30px;

}

#info-content {
  background-color: yellow;
  display: inline-block;
  width: 25
  float:right; 
  margin: 40px 20px 40px 0px;
}






/*******************************************
 STEP UP DASHBOARD STYLES
*******************************************/

/* ? Want to keep widths responsive */
#central-content {
	width: 75%;
	min-width: 300px;
	background-color: rgba(255,255,255,.2);
}






