

/*
Step Up!
Final Project - GA FEWD6 2015
Amber Zipperer 
*/


/******************************************
 HELPER CODE 
*******************************************/


/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
} 

.clear {
	clear: both;
}

.alignright {
	float: right;
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left;
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}


/*******************************************
 STYLES BODY PERSISTANT 
*******************************************/


/* 
If bckgd texture needed:; background: url(../images/X.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
*/

/*  Remove line-height fixed list-style-image alignment Chrome */
body {
  font-size: 13px;
  color: #444;
/*  line-height: 1.4;  */
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

* {
  padding: 0px;
  margin: 0px;
}

/* ? Will 100% work for centering the container & when you use bkgd img cover */
.container {
	width: 100%;
	margin: 0 auto;
} 

ul {
  margin: 0px;
  padding: 0px;
}

h4 h3 {
  margin:0px;
  padding: 0px;
}


/*******************************************
 STYLES INDEX  
*******************************************/


#login-page-content {
background: url(../images/x.jpg) #fff;
}

#left-content {
  display: inline-block;
  width: 50%;

}

#right-content {
  display: inline-block;
  margin: 80px 0 0 0;
  padding: 0 0 0 30px;
  float: right;
  width: 50%;
}



/* ? Right way to use h1 for SEO? Want h1 to display if img breaks? */
h1#home-page-name {
  display: none; 
  font-weight: bold;
  font-size: 48px;
}

#hero-image {
  float: right;
  margin: 20px 0 20px 0px;  
}



#user-name {

}

#school-email {
  padding: 10px;
  font-size: 16px;
  color: #acacac;
}

input:focus {
  background-color: #fff;
  box-shadow: 0 0 0px;
  outline: orange solid 2px;
}
  
.important-subtitle {
  font-size: 24px;
}

p.login {
  margin: 5px 0 10px 0;
  font-size: 16px;
}

p.feature-text {
  font-size: 18px;
  font-weight:bold;
  margin-top:50px;
}


p.feature-text a {
  font-size: 15px;
  font-weight:normal;
  color: orange;
  text-decoration: none;
}


p.feature-text a:hover {
  text-decoration: underline;
  color: #444;
}


.informational-text {
  margin-top: 5px;
}

.informational-text a{
  font-size: 13px;
  font-weight:normal;
  color: orange;
  text-decoration: none;
}

.informational-text a:hover {
  text-decoration: underline;
  color: #444;
}


/*******************************************
 STEP UP GAME/DASHBOARD PAGE STYLES
*******************************************/



/* *********************
TOP NAV ***********************
*********************
*/

#admin-bar {
  width: 100%;
  padding: 5px 0 0 30px;
  margin: 0px;
  border-bottom: solid #acacac 1px;
}

#admin-nav {
  margin: 0px;
  padding: 0px;
}

#admin-nav a {
  padding: 0px;
}

#admin-nav:first-child {
  padding-left: 0px;
}

#admin-nav:last-child {
  padding-right: 20px;
}

.link-row {
  display: inline-block;
}

ul.admin-ul {
  list-style-type: none;
  font-size: 12px;
  margin: 0px;
}

ul.admin-ul li {
  list-style-image: url(../images/icons/checkmark-circle.png);
  list-style-position: outside;
  display: inline;
  padding: 0px 20px 0px 0px;
}

.admin-link-img {
  display: inline-block;
  height: 30px;  
}

#right-links {
  float:right;
}

#right-links a {
  padding-right: 12px;
}


#logoff-link {
  text-decoration: none;
  color:#444;
  font-size: 1.1em;
  font-variant: small-caps;
  float:right;
  vertical-align: middle;
  margin-top: 5px;
  margin-left: 5px; 
}


#logoff-link:hover  {
  color: orange;
  text-decoration: underline;
}


.imgBox:hover { 
  -moz-box-shadow: 0 0 2px #ccc; 
  -webkit-box-shadow: 0 0 3px #ccc; 
  box-shadow: 0 0 3px #ccc; 
} 


.img-opaque {
  opacity: 1; filter: 
  alpha(opacity=100); 
}
  
.img-opaque:hover { opacity: 0.3; 
    filter: alpha(opacity=30);
}


/* Effects thanks to http://www.corelangs.com/css/box/hover.html 
See more at: http://www.corelangs.com/css/box/hover.html#sthash.8cukXdQq.dpuf */


/* DELETE STYLE 
#logout-link a {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 12px;
  color:#000;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  margin: 0px;
  padding: 0px;
}
*/


/* 
**********************************
START MAIN CONTENT  *********************************
**********************************
*/


#page-content {
  display: inline-block;
  width: 75%; 
  padding: 30px 15px 0px 30px;
}


/* ? Can I make background image display w/o specifying height?  */
#game-content {
/*  background-size: cover; */
  height: 600px;
  padding: 0px;
  margin: 0px;
}

/* DELETE STYLE
h1.page-name {
  margin: 0px 0px 10px;
  padding: 0px;
  font-size: 24px;
}
*/



/* COL ONE ************************/

#col-one {
  float:left;
  background-color: rgba(200, 200, 200, .3);
  width: 33%;
  height: 700px;
}

#col-one-row-one {
  background: url(../images/bw-profile.jpg) no-repeat purple;
  background-size: cover;
  height: 50%;
  width: 100%;
}

/*  ? Margin auto doesn't work once I used inline-block. Instead changed width to 100%  */
.text-overlay {
  display: inline-block;
  width: 100%; 
  height: 100%;
  margin: 0 auto; 
  background:#FFF; 
  opacity:0;
}


#col-one-row-one:hover .text-overlay {
  opacity: 0.75; 
  text-align: justify; 
  font-size: 14px; 
  padding: 0px 25px; 
}




/* COL ONE ROW TWO ************************/

#col-one-row-two {
  height: 50%;
  width: 100%;
  padding: 20px 25px 0px 30px; 
  line-height: 21px;
}

#col-one-row-two p:first-of-type {

}

#col-one-row-two span {
  color: orange;
  font-weight: 400;
  font-size: 14px;

}

#col-one-row-two span:hover {
  text-decoration: underline;
  color: #444;

}




/* COL TWO ************************/

#col-two {
  float:left;
  width: 66%;
  height: 700px;
}



/* COL TWO ROW ONE ************************/

#col-two-row-one {
  height: 10%;
  width: 100%;
}

/* Progress list: Added extra left padding to accomodate removal of list-style-position: inside; */

.progress-ul {
  padding: 15px 20px 30px 25px;
  list-style-position: inside;
}

/* Progress list <li>: Removed list-style-position: inside; to display correctly in Safari 
  ? Firefox won't show padding or margin between list items?  */
.progress-ul li {
  font-size: 15px;
  font-weight: 700;
  float:left;
  margin: 0px 15px 0px 0px;
   /* background: url(../images/icons/pie.png) left top no-repeat; */
}

li#prep {
  list-style-image:url(../images/icons/pie-left-top.png);
}

li#delivery {
  list-style-image:url(../images/icons/pie-hazard1.png); 
}

li#effect {
  list-style-image:url(../images/icons/pie-3-4-top-right.png); 
}

li#progress-message {
  font-size: 12px;
  font-weight: 300;
  padding: 7px 0px 0px 0px;
  list-style: none;
}


 /* ? How to postion list style images to vertically align with text?  **********************/






/* COL TWO ROW TWO ************************/


#col-two-row-two {
  width: 100%;
  padding: 0px 25px 0px 30px; 
}

#maze-title {
  padding:  10px 0px;
}

#maze-instructions, #maze-topics {
  color: orange;
  font-size: 12px;
  font-weight: 300;
  padding: 0px 0px 0px 8px;
}

#maze-instructions:hover, #maze-topics:hover  {
  text-decoration: underline;
  color: #444;
}


/* COL TWO ROW THREE ************************/

#col-two-row-three {
  height: 70%;
  width: 100%;
  background: url(../images/lrk-maze.png) no-repeat center; 
  background-size: contain; 
  margin: 0px;
  padding: 0px;
}

#main-maze {
    position: relative;
}

/* Must declare mouse img position for jquery button animation to work */
#mouse {
  width: 18px;
  position: absolute;
  top: 255px;
  left: 145px; 
}

/* Will not text align center w/ float. But forces top margin with display inline-block or block  */
#controls {
  margin: 0px;
  padding: 0px;
  text-align: center;
  vertical-align: top;
}


.maze-button {
  background-color:#888;
  color: white;
  font-weight: bold; 
  padding: 5px 10px;
  font-size: 14px;
  margin: 0px 3px;
}

.maze-button:focus {
  background-color: orange;
  outline: #444 solid 2px;
  color:#fff;
  font-weight: bolder;
}


/* 
**********************************
START RIGHT COL PAGE CONTENT *********************
**********************************
*/

#info-content {
  display: inline-block;
  width: 25%;
  float:right; 
  padding: 0px 0px 20px 0px;
}

#slider,
#right-column-layer1,
.slide {
  width: 100%;
}


#checklist-banner {
  background-color: #888;
  margin: 30px 0px 0px;
  padding: 8px 20px 10px;
}

/* Note: Direct parent content of absolute items needs to be relative, not grandparent */
#checklist-banner a {
  position: relative; 
  font-weight: bold;
  font-size: 12px;
  color: white;
  text-decoration: none;
}


.a-span { 
  font-weight: bold;
  font-size: 12px;
  color: white;
  padding: 8px 20px;
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  /* edit: added z-index */
  z-index: 1;
  /* edit: fixes overlap error in IE7/8, 
     make sure you have an empty gif */
  background-image: url('empty.gif');
}   


#right-column-layer1 {
    /*  display: inline-block; height: 665px; */
  display: inline-block;
  background-color: white;
  padding: 30px 20px 12px;
  margin: 0px;
  height: 663px;
}

.sidebar-video {
  padding: 0px;
  margin: 0px;
}

.sidebar-info-text { 
  margin-bottom: 0px;
}

.next a {
  font-variant: small-caps;
  font-weight: bold;
  color: orange;
  float: right;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
}

.next a:hover {
  color:#444;
  text-decoration: underline;
}



/* 
**********************************
START RIGHT COL FLYOUT *********************
**********************************
*/

#right-column-flyout {
  /*  display: block; height: 0px; */
  display: none;
  border-left: solid #666 1px;
  border-bottom: solid #666 1px;
  padding: 30px 20px 12px;
  margin: 0px;
  height: 663px;
}


/* Add list style image, change with js? when it's complete 
    ? Why text indent not working? Is list style position needed? */
ul.sidebar-flyout {
  list-style-type: none;
  margin: 0 0 10px 0;
  padding: 0 0 20px 20px;
}

ul.sidebar-flyout a {
  line-height: 2em;
  text-decoration: none;
  font-size: 15px;
  color: #666;
}

#flyout-title {
  font-size: 17px;
}

#flyout-title span {
  font-size: 20px;
}

ul li.sidebar-flyout {
  list-style-image: url(../images/icons/circle-grey.png);
}



/* 
**********************************
START FOOTER *********************************
**********************************
*/

footer#copyright {
    margin: 0px 30px;
    font-weight: 400;
    font-size: 1.1em;
}

footer#copyright a {
  color:black;
  text-decoration: none;

}

footer#copyright a:hover {
  color:orange;
  text-decoration: underline;
}

.em {
  font-style:italic;
  font-weight: 400;
}






