

/*
Step Up!
Final Project - GA FEWD6 2015
Amber Zipperer 
*/


/******************************************
 HELPER CODE 
*******************************************/


/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
} 

.clear {
	clear: both;
}

.alignright {
	float: right;
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left;
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}


/*******************************************
 STYLES INDEX & PERSISTANT 
*******************************************/

/* 
If bckgd texture needed:; background: url(../images/X.jpg) no-repeat center center fixed; 
*/
body {
  font-size: 14px;
  color: #444;;
  line-height: 1.4;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

* {
  padding: 0px;
  margin: 0px;
}

/* ? Will 100% work for centering the container & when you use bkgd img cover */
.container {
	width: 100%;
	margin: 0 auto;

} 

#login-page-content {
background: url(../images/x.jpg) #fff;
}

#left-content {
  display: inline-block;
  width: 50%;

}

#right-content {
  display: inline-block;
  margin: 80px 0 0 0;
  padding: 0 0 0 30px;
  float: right;
  width: 50%;
}



/* ? Right way to use h1 for SEO? Will h1 display if img breaks? */
h1#home-page-name {
  display: none; 
  font-weight: bold;
  font-size: 48px;
}

#hero-image {
  float: right;
  margin: 20px 0 20px 0px;  
}



#user-name {

}

#school-email {
  padding: 10px;
  font-size: 16px;
  color: #acacac;
}

input:focus {
  background-color: #fff;
  box-shadow: 0 0 0px;
  outline: orange solid 2px;
}
  
.important-subtitle {
  font-size: 24px;
}

p.login {
  margin: 5px 0 10px 0;
  font-size: 16px;
}

p.feature-text {
  font-size: 18px;
  font-weight:bold;
  margin-top:50px;
}


p.feature-text a {
  font-size: 15px;
  font-weight:normal;
  color: orange;
  text-decoration: none;
}

.informational-text {
  margin-top: 5px;
}

.informational-text a{
  font-size: 13px;
  font-weight:normal;
  color: orange;
  text-decoration: none;
}

/* START FOOTER **********************/

footer#copyright {

    margin: 10px 30px;
}

footer#copyright a {
  color:black;
  text-decoration: none;
}

footer#copyright a:hover {
  color:orange;
}

/* ? Why won't Second Step italicize AND bold? **********************/
.em {
  font-style:italic;
  font-weight: 700;
}


/*******************************************
 STEP UP GAME/DASHBOARD PAGE STYLES
*******************************************/


/* START TOP NAV ************************/

#admin-bar {
  background-color: #888;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

#admin-nav {
  margin: 0px;
  padding: 0px;
}

#admin-nav a {
  padding: 0px 3px;
}

#admin-nav:first-child {
  padding-left: 11px;
}

#admin-nav:last-child {
  padding-right: 20px;
}

.row {
  display: inline-block;
}

ul.admin-ul {
  list-style-type: none;
  font-size: 12px;
  margin: 0px;
}

ul.admin-ul li {
  list-style-image: url(../images/icons/checkmark-circle.png);
  list-style-position: outside;
  display: inline;
}

.admin-link-img {
  display: inline-block;
  height: 30px;  
}

#left-links {
  float:right;
}



/* ? Is there a better way to do the nav? can't top align imgs and text when I use both
  vertical-align: text-top; 
#logout-link {
  display: inline-block;
  margin: 0px;
  padding: 0px;

}


#logout-link a {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 12px;
  color:#000;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  margin: 0px;
  padding: 0px;
}
*/


/* START BODY ************************/

#page-content {
  display: inline-block;
  width: 75%; 
  padding: 30px 30px 0px 30px;
}


/* ? Can I make background image display w/o specifying height?  */
#game-content {
  background: url(../images/screen-placeholder.jpg) 100% center no-repeat #aeaeae;
  background-size: cover;
  height: 600px;
  padding: 0px;
  margin: 0px;
}

h1.page-name {
  margin: 0px 0px 10px;
  padding: 0px;
  font-size: 24px;
}




/* START RIGHT COL PAGE CONTENT **********************/

#info-content {
  display: inline-block;
  width: 25%;
  float:right; 
  padding: 0px 20px 20px 0px;
}


#checklist-banner {
  background-color: #888;
  padding: 8px 20px;
  margin: 40px 0px 0px;
  font-weight: bold;
  font-size: 12px;
  color: white;
}

#right-column-main-content {
    /*  display: inline-block; */
  display: inline-block;
  background-color: white;
  padding: 30px 20px 12px;
  margin: 0px;
  height: 600px;
}

.sidebar-video {
  padding: 0px;
  margin: 0px;
}

#sidebar-video-thumb {
  width:100%;
}

.sidebar-info-text { 
  margin-bottom: 0px;
}

.next a {
  font-variant: small-caps;
  font-weight: bold;
  color: orange;
  float: right;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
}

.next a:hover {
  color:#888;
}




ul li.sidebar-progress {
  list-style-image: url(../images/icons/pie.png);
  font-size: 15px;
  padding: 6px 0px;
  margin: 0px;
  font-weight: 700;
  vertical-align: middle;
}

/* ? How to postion list style images to vertically align with text?  **********************/

#prep {
    list-style-image: url(../images/icons/pie-chart.png);
    vertical-align: middle;
}

#delivery {
    list-style-image: url(../images/icons/pie-right-bottom.png);
}

#effect {
    list-style-image: url(../images/icons/pie-left-top.png);
}





/* START RIGHT COL FLYOUT **********************/

#right-column-flyout {
  /*  display: block; */
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px 20px 12px;
  margin: 0px;
  height: 600px;
}

/* Add list style image, change with js? when it's complete 
    ? Why text indent not working? Is list style position needed? */
ul.sidebar-flyout {
  list-style-type: none;
  margin: 0 0 10px 0;
  padding: 0 0 20px 20px;
}

ul.sidebar-flyout a {
  color: #e5e6e7;
  line-height: 2em;
  text-decoration: none;
  font-size: 15px;
}

#flyout-title {
  font-size: 17px;
  color:white;
}

#flyout-title span {
  font-size: 20px;
}

ul li.sidebar-flyout {
  list-style-image: url(../images/icons/circle-grey.png);
}




/*******************************************
 STEP UP DASHBOARD STYLES
*******************************************/

/* ? Want to keep widths responsive */
#central-content {
	width: 75%;
	min-width: 300px;
	background-color: rgba(255,255,255,.2);
}

/*

When an <input type="text"> gets focus, gradually change the width from 100px to 250px:
input[type=text] {
    width: 100px;
    transition: ease-in-out, width .35s ease-in-out;
}

input[type=text]:focus {
    width: 250px;
}

*/

